%h2 活动通
%div(style="background:#F5F5F5" class="modal fade in")
  .nav-header
    %h4 用户登录
    .right
      =link_to  "用户注册",:action => "register"
  %br
  %br
  %div(class="index-login" style="text-align:center;")
    %div(class="input-prepend" )
      = form_for(:user) do |f|
        = f.label '帐  号',:class=>"add-on"
        = f.text_field :name
        %br
        %br
        = f.label "密  码",:class=>"add-on"
        = f.text_field :password ,:type=>"password"
        %div(style="text-align:center;")
          %br
          = f.submit "登  录", class: "btn btn-primary"
    .label-warning
      =flash.now[:notice]
  .nav-header
    .right
      =link_to  "忘记密码",:action => "reset_key"
  %br






